# fly.toml app configuration file generated for wfx-trading-competition-y-9k8q on 2025-12-28T22:50:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wfx-trading-competition-y-9k8q'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
